<div class="title-item" (mouseenter)="playVideo()" (mouseleave)="stopVideo()">
  <video #trailer [src]="title.trailer" controls muted="muted"></video>
  <img [src]="title.cover" alt="Título" width="340" height="190">
  <div class="items">
    <div class="left-side">
      <button type="button" class="btn btn-play"><i class="material-icons">play_arrow</i></button>
      <button type="button" class="btn btn-muted" (click)="toggleSound()">
        <i class="material-icons" *ngIf="getMuted()">volume_off</i>
        <i class="material-icons" *ngIf="!getMuted()">volume_up</i>
      </button>
      <h2 class="title-video">{{ title.name }}</h2>
      <ul class="infos">
        <li class="relevance">{{ title.relevance }}% relevante</li>
        <li class="age" [ngClass]="{'age-free' : title.age === 0, 'age-12' : title.age === 12,
        'age-14' : title.age === 14, 'age-16' : title.age === 16, 'age-18' : title.age === 18}"></li>
        <li class="parts" *ngIf="title.parts > 0">{{ title.parts }} partes</li>
      </ul>
      <ul class="categories">
        <li *ngFor="let category of title.categories">{{ category }}</li>
      </ul>
    </div>
  </div>

</div>

<diV class="items-mobile">
  <div class="title-video-mobile">
    <span>{{ title.name }}</span>
  </div>
  <span class="relevance-mobile">{{ title.relevance }}% relevante</span>
  <span class="age-mobile" [ngClass]="{'age-free' : title.age === 0, 'age-12' : title.age === 12,
  'age-14' : title.age === 14, 'age-16' : title.age === 16, 'age-18' : title.age === 18}"></span>
  <div id="body-categories-mobile">
    <ul class="categories-mobile">
      <li *ngFor="let category of title.categories">{{ category }}</li>
    </ul>
  </div>
  <span class="parts-mobile" *ngIf="title.parts > 0">{{ title.parts }} partes</span>
</diV>
